

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.row{
	margin: 0
}
.glyphicon-menu-down:before {
    content: "\e114";
	font-weight: lighter;
    font-size: 70%;
}
body{
	background-color: #f5f5f5;
	font-family: 'Palanquin', sans-serif;
	line-height: 2em;
}
button.btn.btn-default.dropdown-toggle:hover .dropdown-menu {
    display: block !important;
 }
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
header{
    background: -webkit-linear-gradient(#15193e 50%, #5373b1);
    background: linear-gradient(#15193e 50%, #5373b1);
	padding: 1.5em 1em;
}
header .btn-block {
	color: white;
	font-size: 140%;
}
header .btn-block:hover {
	color:#049262;
	text-decoration: none;
}
header .active, header .active:hover{
	color: #049262;
}
a{
	cursor:pointer;
}
a:hover{
	text-decoration: none;
}
button.btn.btn-default.dropdown-toggle{
	float: right;
}
.histoire-body .background-history{
	background: url(../img/histoire-background2.jpg) no-repeat center;
	-webkit-background-size: cover;
    background-size: cover;
    opacity: 0.2;
	height: 800px;
    position: absolute;
	z-index: -1;
    right: 0;
    left: 0;
}
.histoire-body .photos a{
	position: absolute;
	-webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -ms-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
}
.histoire-body .info {
    padding: 16% 3% 10% 0;
    color: #049262;
    font-size: 1.2em;
}
.histoire-body .photos a:first-child{
	margin-top: 100px;
    margin-left:100px;
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
    z-index: 1;
}
.histoire-body .photos a:nth-child(2){
    margin-top: 50px;
    margin-left: 400px;
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    z-index: 2;
}
.histoire-body .photos a:nth-child(3){
    margin-top: 217px;
    margin-left: 421px;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    z-index: 3;
}
.histoire-body .photos a:nth-child(4){
    margin-top: 328px;
    margin-left: 251px;
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    transform: rotate(-1deg);
    z-index: 4;
}
.histoire-body .photos a:nth-child(5){
    margin-top: 414px;
    margin-left: 84px;
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
    z-index: 5;
}
.histoire-body .photos a:hover{
	-moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}