

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header-link{
    padding: 1em;
}
.slogan{ 
    background: url(../img/Bobinage.png) no-repeat center;
    /*http://www.color-hex.com/color/d9f0fa*/
    background-size: cover;
    width: 100%;
}
.title-slogan{
    font-size: 2em;
    padding-top: 10em;
    text-align: center;
    text-shadow: 1px 2px 10px white;
}

.chevron{
    position: absolute;
    bottom: 10px;
    text-align: center;
    color:white;
    width: 100%;
}
.chevron-span {
    font-size: 4em;
}


