

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.row{
	margin: 0
}
.glyphicon-menu-down:before {
    content: "\e114";
	font-weight: lighter;
    font-size: 70%;
}
body{
	background-color: #f5f5f5;
	font-family: "Vollkorn", serif;
	line-height: 2em;
}
button.btn.btn-default.dropdown-toggle:hover .dropdown-menu {
    display: block !important;
 }
 .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }
header{
    background: -webkit-linear-gradient(#192236 50%, #293855);
    background: linear-gradient(#192236 50%, #293855);
	padding: 1.5em 1em;
}
header .btn-block {
	color: white;
	font-size: 140%;
}
header .btn-block:hover {
	color:#049262;
	text-decoration: none;
}
header .active, header .active:hover{
	color: #049262;
}
a{
	cursor:pointer;
}
a:hover{
	text-decoration: none;
}
button.btn.btn-default.dropdown-toggle{
	float: right;
}