
//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black: #000000 !default;
$white: #FFFFFF !default;
$gray: #CCC;
$gray-dark: #646464;
$gray-light: #F7F7F7;
$brand-primary: #049262 !default;
$brand-secondary: #04A9A0 !default;

$icon-font-path: "fonts/" !default;
