
//
// Variables
// --------------------------------------------------

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black: #000000 !default;
$white: #FFFFFF !default;
$gray: #CCC;
$gray-darker: #646464;
$gray-light: #F7F7F7;
$brand-success: #049262 !default;
$brand-success-light: #04A9A0 !default;

