
.distributeur-body {
  .title-general{
    text-align: center;
    color: $brand-primary;
    font-size: 2em;
    margin: 2em 0;
  }
  .distributeur-template {
    margin-bottom: 4em;
    .distributeur-title{
      font-size: 1.4em;
      color: $brand-primary;
    }
    .distributeur-description{
      color: $gray-dark;
      font-size: 1.1em;
    }
    img{
      margin: 2em 0;
    }
  }
  .info-description{
    color: $gray-dark;
    font-size: 1.1em;
    margin-bottom: 2em;
  }
}
