.row{
	margin: 0
}
.glyphicon-menu-down:before {
  content: "\e114";
	font-weight: lighter;
  font-size: 70%;
}
body{
	background-color: $white;
	font-family: "Vollkorn", serif;
	line-height: 2em;
}
button.btn.btn-default.dropdown-toggle:hover .dropdown-menu {
  display: block !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}
.header{
  background: #5373b1;
	padding: 1.5em 1em;
  .btn-block {
    color: $white;
    font-size: 140%;
  }
  .btn-block:hover {
    color:$brand-primary;
    text-decoration: none;
  }
  .active, .header .active:hover{
    color: $brand-primary;
  }
  .logo-atelier{
    span{
      color: $white
    }
  }
}
a{
	cursor: pointer;
}
a:hover{
	text-decoration: none;
}
button.btn.btn-default.dropdown-toggle{
	float: right;
}
img{
  border-radius: 5px;
}
