
.maintenance-body{
  .title-quality{
    text-align: center;
    color: $brand-primary;
    font-size: 2em;
    margin: 2em 0 1em 0;
  }
  .maintenance-info{
    margin: 3em 0;
    .maintenance-description{
      color: $gray-dark;
        font-size: 1.1em;
    }
    .title-maintenance{
      text-align: center;
      color: $brand-primary;
      font-size: 2em;
      margin-bottom: 1em;
    }
  }
  .list-maintenance  {
    min-height: 700px;
    .info{
      margin: 1em 0;
      color: $gray-dark;
      font-size: 1.1em
    }
    .title{
      font-size: 1.4em;
      color: $brand-primary;
      margin: 8em 0 0.5em 0;
    }
    .row{
      padding-bottom: 2em;
      .title-col{
        color: $brand-secondary;
      }
    }
    .background-techno{
      background: url(img/maintenance-background-schema.jpg) no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      opacity: 0.2;
      height: 700px;
      position: absolute;
      z-index: -1;
      right: 0;
      left: 0;
    }
    .background-stator{
      background: url(img/maintenance-background-stator.jpg) no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      opacity: 0.2;
      height: 700px;
      position: absolute;
      z-index: -1;
      right: 0;
      left: 0;
    }
    .description-col{
      color: $gray-dark;
      margin: 0.5em 0 0 1em;
      .glyphicon{
        margin-right: 0.5em;
      }
    }
  }
}
