
.qualite-body {
  .title-qualite{
    text-align: center;
    color: $brand-primary;
    font-size: 2em;
    margin: 2em 0 1em 0;
  }
  .qualite-template {
    margin-bottom: 4em;
    .qualite-title{
      font-size: 1.4em;
      color: $brand-primary;
    }
    .qualite-description{
      color: $gray-dark;
      font-size: 1.1em;
    }
  }
  .info-description{
    color: $gray-dark;
    font-size: 1.1em;
    margin-bottom: 2em;
  }
}
